## 1.	Write a Python program to find sum of elements in list?

In [12]:
l1 = [10,4,58,100]
s = 0

for i in l1:
  s += i

print(s)

172

## 2.	Write a Python program to Multiply all numbers in the list?

In [14]:
l1 = [10,4,58,10,2,15]
m = 1

for i in l1:
  m *= i

print(m)

696000

## 3.	Write a Python program to find smallest number in a list?

In [15]:
l1 = [10,4,58,10,2,15]

list_min = min(l1)

list_min

2

## 4.	Write a Python program to find largest number in a list?

In [16]:
l1 = [10,4,58,10,2,15]

list_max = max(l1)

list_max

58

## 5.	Write a Python program to find second largest number in a list?

In [17]:
l1 = [10,4,58,10,2,15]

sorted_list = sorted(set(l1),reverse = True)

if len(sorted_list) >= 2:
  sec_larg = sorted_list[1]
  print("Second largest in the list is: ",sec_larg)

Second largest in the list is:  15

## 6.	Write a Python program to find N largest elements from a list?

In [18]:
l1 = [10, 5, 8, 20, 15]

#Specify the value of N
N = 3

if len(l1) >= N:
    N_largest_elements = sorted(l1, reverse=True)[:N]
    print(f"{N} largest elements in the list:", N_largest_elements)
else:
    print("The list does not have enough elements.")

3 largest elements in the list: [20, 15, 10]

## 7.	Write a Python program to print even numbers in a list?

In [5]:
l1 = [2,14,13,19,21,65,43,44,69,68]

for i in l1:
  if i % 2 == 0:
    print(i)

2
14
44
68

## 8.	Write a Python program to print odd numbers in a List?

In [6]:
l1 = [2,14,13,19,21,65,43,44,69,68]

for i in l1:
  if i % 2 != 0:
    print(i)

13
19
21
65
43
69

## 9.	Write a Python program to Remove empty List from List?

In [19]:
l1 = [1, [], 3, [], 5, [], []]

filtered_list = [sublist for sublist in l1 if sublist]

print("List after removing empty lists:", filtered_list)

List after removing empty lists: [1, 3, 5]

## 10.	Write a Python program to Cloning or Copying a list?

In [20]:
l1 = [10, 5, 8, 20, 15]

copied_list = l1.copy()

print("Copied list is: ",copied_list)

Copied list is:  [10, 5, 8, 20, 15]

## 11.	Write a Python program to Count occurrences of an element in a list?

In [22]:
l1 = [10, 5, 5,5,5,8,8,8, 20,20, 15]

element_to_count = 5

occurance = l1.count(element_to_count)
print(f"{element_to_count} is {occurance} times in the list")

5 is 4 times in the list