## 1.	Write a Python program to convert kilometers to miles?

In [1]:
# 1 mile = 1.61 km

d = float(input("Enter the distance in kilometers: "))

dist_km_to_mile = d / 1.61
print(f"Entered distance in {d}km is {dist_km_to_mile} in miles")

Enter the distance in kilometers: 50
Entered distance in 50.0km is 31.05590062111801 in miles

## 2.	Write a Python program to convert Celsius to Fahrenheit?

In [2]:
temp_c = float(input("Enter the temperature in celsius: "))

temp_k = temp_c + 273.15

print(f"Entered temperature in {temp_c} Celsius is {temp_k} in Kelvin")

Enter the temperature in celsius: -20
Entered temperature in -20.0 Celsius is 253.14999999999998 in Kelvin

## 3.	Write a Python program to display calendar?

In [5]:
import calendar

year = int(input("Enter the year: "))
month = int(input("Enter the month number: "))

cal = calendar.TextCalendar()
month_calendar = cal.formatmonth(year,month)
print("\n")
print(month_calendar)

Enter the year: 2023
Enter the month number: 7


     July 2023
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

## 4.	Write a Python program to solve quadratic equation?

In [6]:
#Quadratic Equation: ax2 + bx + c = 0 : a,b,c are integers and a not equal to 0
import math

a = float(input("Enter the value of a: "))
b = float(input("Enter the value of b: "))
c = float(input("Enter the value of c: "))

discriminant = ((b ** 2) - (4 * a * c))

if discriminant > 0:
  root1 = (-b + math.sqrt(discriminant)) / (2 * a)
  root2 = (-b - math.sqrt(discriminant)) / (2 * a)
  print("Root 1: ", root1)
  print("Root 2: ", root2)
elif discriminant == 0:
  root = (-b / (2 * a))
else:
  real_part = (-b / (2 * a))
  imaginary_part = math.sqrt(abs(discriminant)) / (2 * a)
  root1 = complex(real_part,imaginary_part)
  root2 = complex(real_part,-imaginary_part)
  print("Root 1: ", root1)
  print("Root 2: ", root2)

Enter the value of a: 6
Enter the value of b: -17
Enter the value of c: 12
Root 1:  1.5
Root 2:  1.3333333333333333

## 5.	Write a Python program to swap two variables without temp variable?

In [7]:
a = input("Enter 1st variable value: ")
b = input("Enter 2nd variable value: ")

#swapping
a,b=b,a
print("After swapping")
print("a is",a)
print("b is",b)

Enter 1st variable value: 69
Enter 2nd variable value: myk
After swapping
a is myk
b is 69