In [1]:
#Answer 1

def is_symmetrical(num):
    return str(num) == str(num)[::-1]

In [2]:
is_symmetrical(9939)

False

In [3]:
is_symmetrical(44444444)

True

In [5]:
#Answer 2

def multiply_nums(nums_str):
    nums = [int(x) for x in nums_str.split(", ")]
    return 0 if 0 in nums else eval('*'.join(map(str, nums)))

In [6]:
multiply_nums("1, 2, 3, 4")

24

In [7]:
#Answer 3

def square_digits(num):
    return int(''.join(str(int(digit)**2) for digit in str(num)))

In [8]:
square_digits(2483)

416649

In [9]:
#Answer 4

def setify(lst):
    return list(set(lst))

In [10]:
setify([4, 4, 4, 4])

[4]

In [11]:
#Answer 5

def mean(num):
    digits = [int(digit) for digit in str(num)]
    return sum(digits) // len(digits)

In [12]:
mean(12345)

3